
<div class="principal-container" *ngIf="loading">
    <div class="title">
        <img src="../../../assets/img/logo-pokemon.webp" alt="">
    </div>

    <div class="pagination-button"> 
        
        <button class="button-pagination" (click)="changePagination('back')" *ngIf="initialPaginationPokemons>=11">
            <img src="../../../assets/icons/left.png" alt="">
    </button>
    <button class="button-pagination" (click)="changePagination('ahead')">
        <img src="../../../assets/icons/right.png" alt="">
    </button>
</div>

        <h1 class="text-blue">Welcome {{currentUser?.nickname}}</h1>
    
    <h1 class="text">Page {{pagination}}</h1>

    <h1 class="text-red" (click)="closeSesion()">Close sesion</h1>

    <div class="container-list">

        <div *ngFor="let pokemon of pokemons; let i = index">
            <app-card-pokemon 
            [pokemonInfo]="pokemon"
            >
            </app-card-pokemon>
        </div>    
    </div>
</div>

<div *ngIf="!loading">
    <app-page-loading>
    </app-page-loading>
</div>


