 <div class="fullscreen-container">
    <div class="login-container">
      <h1>Login</h1>   
      <form class="form">
        <div class="input-group">
          <input type="text" placeholder="Escriba su correo electronico" id="text" name="text" class="input-username"> 
        </div>        
        <div class="input-group">
          <input type="password" placeholder="Escriba su contraseña" id="password" name="password" class="input-password">
        </div>      
        <button>Entrar</button>       
        <a href="" class="forgot-password">¿No tienes cuenta? Registrate aquí</a>  
      </form>    
    </div>
  </div>
