
<div class="pokemon-card-container">
    <div class="pokemon-card">
        <div class="background">
            <h1 class="pokemon-name">{{pokemonInfo.id}}</h1>
            <img src="{{pokemonInfo.sprites.front_default}}" alt="" class="image">
        </div>
        <div class="content">
            <h1 class="pokemon-name">{{pokemonInfo.name}}</h1>
           
            <span class="pokemon-type"> {{pokemonInfo.types[0]?.type?.name}}</span>
            <div class="pokemon-stats" *ngFor="let stats of pokemonInfo.stats; let i = index">
                <p> {{stats.stat.name}}:  
                    {{stats.base_stat}} %</p>

                    
                    
            </div>
            <div class="pokemon-button" *ngIf="!detailPokemon">
                <button class="txt" (click)="seeDetails()"> See pokemon</button>
            </div>
            
            <div *ngIf="detailPokemon">
                <h1 class="pokemon-name">Sprities</h1>
                <div class="pokemon-stats center">
                    <img src="{{pokemonInfo.sprites?.back_default }}" alt="">
                    <img src="{{pokemonInfo.sprites?.back_female  }}" alt="">
                    <img src="{{pokemonInfo.sprites?.back_shiny_female }}" alt="">
                    <img src="{{pokemonInfo.sprites?.front_female }}" alt="">
                    <img src="{{pokemonInfo.sprites?.back_shiny}}" alt="">
                    <img src="{{pokemonInfo.sprites?.front_default }}" alt="">
                    <img src="{{pokemonInfo.sprites?.front_shiny }}" alt="">
                 </div>
                 <h1 class="pokemon-name">Abilities</h1>
                 <div class="pokemon-stats center bold" *ngFor="let ability of pokemonInfo.abilities; let i = index">
                    <p> {{ability?.ability?.name}}</p>
    
                        
                        
                </div>
            </div>
        </div>
    </div>

  
</div>
