.img-loading{
    width: 30%;
}
.container{
    padding: 10%;
    text-align: center;
}

h1{
    margin-top: 30px;
	color: #fff;
	font-size:30px;
	text-align: center;
	font-family: 'Bungee Shade', cursive;
	letter-spacing: 10px;
}

.text{
	text-shadow: 0 0 5px #f6e700,
	0 0 10px #f6e700,
	0 0 15px #f6e700,
	0 0 20px #f6e700;
}